/* General Styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: #05ada2;
    color: #333;
  }
  
  /* Title and Description */
  .title {
    background-color: #05ada2;
    color: #333;
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }
  
  .description {
    text-align: center;
  }
  
  /* Main Content */
  .container {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    background-color: #cce4e4;
    color: #333;
    padding: 20px;
  }
  
  /* Form Styles */
  .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .form-group label {
    width: 40%;
    text-align: right;
    padding-right: 10px;
  }
  
  .form-group input,
  .form-group select {
    width: 60%;
    padding: 5px;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .container {
      width: 90%;
    }
  
    .form-group {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .form-group label {
      width: 100%;
      text-align: left;
      padding-right: 0;
      margin-bottom: 5px;
    }
  
    .form-group input,
    .form-group select {
      width: 100%;
    }
  }